# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs
*.venv
*.virtualenv
.env/
.ipynb_checkpoints/

# Data files
*.json
*.jsonl
*.parquet

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore everything in the datasets directory
datasets/*